<% if current_user %>
  <%= link_to "create an itinerary", new_search_attendancy_path, class: "btn btn-primary" %>

  <% unless @my_search_attendancies.empty? %>
    <%= link_to "index", search_attendancies_path, class: "btn btn-primary" %>

    <hr>

    <% @my_search_attendancies.each do |attendancy| %>
      <div>
        <%= link_to attendancy.start_at, search_attendancy_path(attendancy) %>
      </div>
    <% end %>
  <% end %>
<% end %>
