<div id="map-create" style="width: 100%; height: 100vh;" data-id="<%= @search_attendancy.id %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= button_tag "Start", class: "btn btn-primary start-button" %>
<%= button_tag "Stop", class: "btn btn-primary stop-button" %>
